nav{
    background: #45015d;
    color: #fff;
    width: 150px;
    padding: 10px 20px;
    height: 100%;
    position: fixed;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    top: 0;
    left: 0;
}
nav a{
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    transition: all 0.3s;
}
nav a:hover{
    background: #fff;
    color: #45015d;
    transition: all 0.3;
}
body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}
nav h3{
    font-size: 17px;
}
h1{
    font-weight: 400;
    font-size: 64px;
}
main{
    margin: 80px 40px 0 360px;
}
h2{
    color: #45015d;
    font-size: 48px;
    font-weight: 400;
}
hr{
    background: #45015d;
    height: 10px;
    border-radius: 5px;
}
.showcase img{
    border-radius: 10px;
    width: 45%;
    margin: 5px;
    opacity: 0.5;
    transition: all 0.35;
    min-width: 300px;
}
.showcase div{
    text-align: center;
}
img:hover{
    opacity: 1;
    transition: all 0.3s;
}
.designers__list{
    text-align: center;
}
.member{
    display: inline-block;
    width: 30%;
    margin: 10px;
    text-align:left;
    min-width: 300px;
}
.member img{
    width: 100%;
    border-radius: 10px;
}
.member__job{
    background: #e7e7e7;
    border-radius: 10px;
    padding: 5px 10px;
}
p.pasition{
    color: grey;
}
.tariff ul{
    list-style-type: none;
    padding: 0;
    width: 45%;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    background: #e7e7e7;
    display: inline-block;
    min-width: 300px;
}
.name{
    background: #45015d;
    padding: 24px 0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
li{
    border-radius: 10px;
    border-bottom: 1px solid grey;
    padding: 16px 0;
}
.cost{
    font-size: 22px;
}
.cost span{
    font-size: 14px;
    color: grey;
    display: block;
}
.basic{
    background: #45015d;
    color: #fff;
    border-radius: 8px;
    padding: 10px 16px;
    border: 1px solid #45015d;
    font-size: 16px;
    transition: all 0.3s;
    outline: none;
}
.basic:hover{
    background:transparent;
    color: #45015d;
}
.name_pro{
    background: #FF6219;
    color: #FFF;
    font-weight: bold;
    padding: 24px 0px;
    font-size: 20px;
}
.pro{
    background: #FF6219;
    color: #fff;
    border-radius: 8px;
    padding: 10px 16px;
    border: 1px solid #FF6219;
    font-size: 16px;
    transition: all 0.3s;
    outline: none;
}
.pro:hover{
    background: transparent;
    color: #FF6219;
}
input,textarea,.contact button{
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px #45015d solid;
    font-size: 16px;
    margin: 0 0 10px 0;
    box-shadow: 0 2.5px 5px #45015d59;
    resize: vertical;
    box-sizing: border-box;
}
label{
    display: block;
}
.contact button{
    background: #45015d;
    color: #fff;
}
footer{
    background: #45015d;
    color: #fff;
    padding: 50px 0 50px 25px;
    position: relative ;
    z-index: 3;
    border-top-right-radius: 10px;
}